/**** BODY COLORS ****/
/* FROM THE TOP OF THE PAGE GOING DOWN */

.header {
	background-color: #2f3640;
}

.statistics {
	background-color: #192a56;
}

.legend {
	background-color: #718093;
}


.data {
	background-color: #dcdde1; 
}

.disclaimer {
	background-color: #487eb0;
}

.footer {
	background-color: #40739e;
}

/**** MODALS *****/

.modalbg {
	background-color: #2f3640;
}

.modalfooter {
	background-color: #192a56;
}



/**** NODE COLORS ********/

.node {
	background-color: #8c7ae6;
	color: #1e272e;
	font-size: 14px;
}

.running {
  	background-color: #44bd32;
  	color: #1e272e;
	font-size: 14px;

}

.bootstrap {
	background-color: #e1b12c;
	color: #1e272e;
	font-size: 14px;
}


.stopped {
	background-color: #e84118;
	color: #1e272e;
	font-size: 14px;
}

.leadership {
	background-color: #0097e6;
	color: #1e272e;
	font-size: 14px;
}

.passive {
	background-color: #273c75;
	color: #1e272e;
	font-size: 14px;
}

/****** BLOCKS *****/
/* BLOCK IS THE GENERIC BLOCK FOR HIGHT, PEERS, UPTIME */
/* BLOCKCONTENT/TITLE AND THE CONTENTS OF THE BLOCKS */

.block {
	background-color: #7f8fa6;

}

.blockcontent {
	font-family: 'News Cycle';
	font-size: 14px;
	color: #ecf0f1;
}

.blocktitle {
	font-family: 'Francois One';
	color: #ecf0f1;
	font-size: 14px;
}

/* THE BLOCKS SHAPE */
/* DONT CHANGE */

.square {
	width:60px;
	height:60px;
	line-height:60px;
	text-align:center;
}


/********** FONTS ***********/

.logo {
	font-family: 'Francois One';
	color: #dfe6e9;
	font-size: 60px;
}

.headline {
	font-family: 'Francois One';
	color: #dfe6e9;
	font-size: 48px;
}


.title {
	font-family: 'Francois One';
	color: #dfe6e9;
	font-size: 14px;
}


.content {
	font-family: 'News Cycle';
	font-size: 14px;
	color: #dfe6e9;
}


/******* LINKS *****/

a:link {
  	color: #ecf0f1;
  	font-size: 14px;
}

a:visited {
  	color:  #ecf0f1;
  	font-size: 14px;
}

a:hover {
  	color: #c0392b;
  	font-size: 14px;
}

a:active {
  	color: #ecf0f1;
  	font-size: 14px;
}

